// css button, title, icon, elements...
img {
  max-width: 100%;
}
.textbox {
  text-align: center;
  &__title {
    @include text(32px, rb, normal, $text-cl, uppercase);
  }
  &__des {
    margin: 15px auto 20px auto;
    max-width: 600px;
    @include text(16px, rr, normal, $text-des-cl, normal);
  }
  &.--white {
    .textbox__title,
    .textbox__des {
      color: $white-cl;
    }
  }
  @include sm {
    &__title {
      @include text(26px, rb, normal, $text-cl, uppercase);
    }
  }
  @include xs {
    &__title {
      @include text(20px, rb, normal, $text-cl, uppercase);
    }
    &__des {
      @include text(14px, rr, normal, $text-des-cl, normal);
    }
  }
}
h2.title {
  @include text(24px, rb, normal, $text-cl, uppercase);
  position: relative;
  padding-left: 15px;

  &::before {
    content: "";
    display: inline-flex;
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: $text-blue-cl;
    left: 0px;
  }
  @include xs {
    @include text(20px, rb, normal, $text-cl, uppercase);
  }
}
.btn-main {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px 24px;
  background-color: transparent;
  color: $text-des-cl;
  border: 1px solid $text-des-cl;
  border-radius: 2px;
  font-weight: 600;
}
