// css footer
.footer {
    background-color: $hover-cl;
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
        @include sm {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .logo {
        a {
            img {
                width: 200px;
            }
        }
    }
    .footer-tile {
        margin-bottom: 25px;
        @include text(18px, rb, normal, $text-blue-cl, uppercase);
        @include xs {
            @include text(16px, rr, normal, $text-des-cl, normal);
        }
        @include sm {
            margin-bottom: 15px;
        }
    }
    &__info {
        .nav-info {
            margin-bottom: 10px;
            &__item {
                @include text(16px, rr, normal, $text-des-cl, normal);
                text-align: justify;
                display: flex;
                .icon {
                    width: 25px;
                }
                &:not(:first-child) {
                    margin-top: 15px;
                    @include sm {
                        margin-top: 5px;
                    }
                }
                i {
                    font-size: 16px;
                }
                .map {
                    font-size: 20px;
                }
                .info-link {
                    @include text(16px, rr, normal, $text-des-cl, normal);
                    text-decoration: none;
                    @include transition($t);
                    &:hover {
                        color: $text-cl;
                        @include transition($t);
                    }
                    @include xs {
                        @include text(14px, rr, normal, $text-des-cl, normal);
                    }
                }
                @include xs {
                    @include text(14px, rr, normal, $text-des-cl, normal);
                }
            }
        }
    }
    &__contact {
        .contact-form {
            display: flex;
            flex-direction: column;
            input {
                background: #fff;
                border: none;
                height: unset;
                display: inline-block;
                padding: 12px 25px;
                margin: 5px 0;
            }
            button {
                text-align: center!important;
                height: unset;
                background: #2cbfd2;
                border: none;
                margin: 5px 0;
                padding: 10px 0;
            }
        }
        .social {
            &__item {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                @include mid(true);
                @include transition($t);
                margin-top: 10px;
                i {
                    font-size: 20px;
                    color: $white-cl;
                }
                &.fb {
                    background-color: #395185;
                }
                &.yt {
                    background-color: #ff0000;
                    margin-left: 20px;
                }
            }
            a {
                text-decoration: none;
                &:hover {
                    .social__item {
                        @include transition($t);
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }
    }
    // 
    &__item {
        .nav-ft {
            &__item {
                position: relative;
                margin-bottom: 10px;
                &-link {
                    @include transition($t);
                    text-decoration: none;
                    @include text(16px, rr, normal, $text-des-cl, normal);
                    &:hover {
                        color: $text-cl;
                        @include transition($t);
                    }
                    @include xs {
                        @include text(14px, rr, normal, $text-des-cl, normal);
                    }
                }
                &:not(:first-child) {
                    margin-top: 15px;
                }
                &:not(:first-child)::before {
                    content: "";
                    background: #2cbfd270;
                    height: 3px;
                    width: 100%;
                    top: -10px;
                    left: 0;
                    position: absolute;
                }
            }
        }
    }
    .contact-ft {
        .nav-ft {
            &__item {
                display: flex;
                .icon {
                    width: 25px;
                }
                &:not(:first-child) {
                    margin-top: 15px;
                }
                i {
                    font-size: 16px;
                }
                .map {
                    font-size: 20px;
                }
                .info-link {
                    @include text(16px, rr, normal, $text-des-cl, normal);
                    text-decoration: none;
                    @include transition($t);
                    &:hover {
                        color: $text-cl;
                        @include transition($t);
                    }
                    @include xs {
                        @include text(14px, rr, normal, $text-des-cl, normal);
                    }
                }
            }
        }
    }
    .certification {
        margin-top: 30px;
        .title {
            margin-bottom: 15px;
        }
    }
    .copy-right {
        text-align: center;
        padding: 30px 0;
        border-top: 2px solid #fff;
        background-color: $hover-cl;
        p {
            @include text(16px, rr, normal, $text-des-cl, normal);
            span {
                @include text(16px, rr, normal, $text-cl, uppercase);
            }
            @include xs {
                @include text(14px, rr, normal, $text-des-cl, normal);
                span {
                    @include text(14px, rr, normal, $text-cl, uppercase);
                }
            }
        }
    }
}