header {
  position: relative;
  width: 100%;
  height: 100%;
}

.header-top {
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.4s;
  background-color: #000;
  .container {
    height: 100%;
  }
  .logo {
    img {
      width: 100px;
      @include xs {
        width: 120px;
      }
    }
  }
  &.bg-header {
    background: $text-blue-cl;
  }
}

.toggle-menu {
  width: 50px;
  height: 50px;
  display: none;
  position: relative;
  z-index: 999999;
}

.toggle-menu i {
  position: absolute;
  height: 1px;
  background: white;
  width: 25px;
  left: 10px;
  transition: all 0.3s;
}

.toggle-menu i:nth-child(1) {
  top: 16px;
}

.toggle-menu i:nth-child(2) {
  top: 24px;
}

.toggle-menu i:nth-child(3) {
  top: 32px;
}

.open-menu i:nth-child(1) {
  top: 25px;
  transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
  background: transparent;
}

.open-menu i:nth-child(3) {
  top: 25px;
  transform: rotateZ(-45deg);
}

nav {
  @include mid(true);
  width: fit-content;
  box-sizing: border-box;
  /* position: fixed; */
  /* top: 70px; */
  /* width: 100%; */
  transition: all 3s;
  opacity: 1;
  /* padding: 80px 0; */
  z-index: 15;
  height: 100%;
  background-color: transparent;
  .d-block {
    width: 50px;
    height: 100%;
    position: relative;
  }
}

/* .open-menu ~ nav {
      opacity: 1;
      padding: 80px 0;
      z-index: 15;
      height: calc(90vh - 70px);
    } */

nav ul {
  width: fit-content;
  display: flex;
  align-items: center;
}

.menu-header li a {
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  padding: 12px 24px;
  text-align: center;
  transition: background 0.3s;
  @include transition($t cubic-bezier(0.82, 0.44, 0.23, 0.86));
  font-family: rb;
  &:hover {
    @include transition($t cubic-bezier(0.82, 0.44, 0.23, 0.86));
    color: $text-cl;
  }
  &.active {
    color: $text-cl;
  }
}

.drop {
  .item-dropdown {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 10px rgba(10, 20, 30, 0.4);
    .link-drop {
      color: #000;
    }
  }
  &:hover .item-dropdown {
    display: block;
  }
}

.btn-contact {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .back-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff6666;
    opacity: 0;
    border-radius: 100%;
    animation: back 2s infinite;
    animation-delay: 0.3s;
  }
  .button {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #973f3f;
    animation: ring 2s infinite;
  }
  .phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #ffffff;
    // animation: call 2s infinite;
  }
  .front-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    opacity: 0.2;
    border-radius: 100%;
    width: 0px;
    height: 0px;
    // animation: breath 2s infinite;
  }
  @keyframes back {
    0% {
      height: 0px;
      width: 0px;
    }
    50% {
      height: 35px;
      width: 35px;
      opacity: 0.4;
    }
    70% {
      height: 45px;
      width: 45px;
      opacity: 0.1;
    }
    100% {
      height: 50px;
      width: 50px;
      opacity: 0;
    }
  }
  @keyframes ring {
    0% {
    }
    50% {
      height: 40px;
      width: 40px;
    }
  }
  @keyframes call {
    0% {
    }
    2.5% {
      transform: translate(-30%, -50%);
    }
    5% {
      transform: translate(-70%, -50%);
    }
    7.5% {
      transform: translate(-30%, -50%);
    }
    10% {
      transform: translate(-70%, -50%);
    }
    15% {
      transform: translate(-20%, -50%);
    }
    20% {
      transform: translate(-50%, -50%);
    }
    100% {
    }
  }
  @keyframes breath {
    0% {
    }
    50% {
      width: 35px;
      height: 35px;
    }
    100% {
    }
  }
  &:hover {
    .front-circle {
      animation: breath 2s infinite;
    }
    .phone {
      color: #ff0000;
      animation: call 2s infinite;
    }
  }
}

.menu-mb {
  display: none;
}

/* MQ STYLES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin-top: 1px;
  }
  nav li a {
    font-size: 1.5em;
  }
  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .open-menu ~ nav {
    padding: 20px 0;
  }
  nav li a {
    padding: 3px;
  }
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
  color: $text-cl;
}

.menu-mb li.active a,
body.fp-viewing-fifthSection-1 #menu-mb li:last-child a {
  color: $text-cl;
  &::after {
    @include transform(scaleX(1) !important);
  }
}

@include sm {
  header {
    position: relative;
    .header-top {
      .menu-header {
        display: none !important;
        width: initial;
        #menu {
          //   width: 100vw;
          //   height: 100vh;
        }
      }
      .toggle-menu {
        display: inline-block;
      }
      .menu-mb {
        width: 100vw;
        height: 100vh !important;
        position: absolute;
        top: 0;
        right: -1000px;
        background-color: rgba(0, 0, 0, 0.699);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
        @include transition($t cubic-bezier(0.82, 0.44, 0.23, 0.86));
        ul {
          width: 100%;
          li {
            @include mid(true);
            a {
              padding: 15px 0px;
              text-decoration: none;
              font-weight: bold;
              overflow: hidden;
              position: relative;
              @include mid(true);
              @include transition($t);
              @include text(20px, rb, normal, $white-cl, uppercase);
              &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: $white-cl;
                position: absolute;
                left: 0;
                bottom: 8px;
                z-index: 20;
                @include transform(scaleX(0));
                @include transform-origin(left center);
                @include transition($t cubic-bezier(0.82, 0.44, 0.23, 0.86));
              }
              &:hover {
                color: $white-cl;
                transition: 0.3s;
                &::after {
                  @include transform(scaleX(1));
                  @include transform-origin(right center);
                  @include transition($t cubic-bezier(0.82, 0.44, 0.23, 0.86));
                }
              }
              &.active {
                &::after {
                  @include transform(scaleX(1));
                  @include transform-origin(right center);
                  @include transition($t cubic-bezier(0.82, 0.44, 0.23, 0.86));
                }
              }
            }
          }
        }
        &.active {
          //   display: inline-flex !important;
          right: 0 !important;
          @include transition($t cubic-bezier(0.82, 0.44, 0.23, 0.86));
        }
      }
    }
  }
}
