/*primary colors*/
$white-cl: #fff;
$black-cl: #000;
$hover-cl: #e9f2ff;

/*global text color*/
$text-cl: #8a0a1f;
$text-blue-cl: #00224f;
$text-black-cl: #111111;
$text-des-cl: #555555;

/*global bg color*/
$main-bg-cl: #8a0a1f;
$black-bg-cl: #111111;

// timing transition
$t: 0.3s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

/*font families*/
$font-stack: "Open Sans", sans-serif;
$font-main: arial;

/*headings typo*/
$fz-text: 16px;
$lh-text: normal;

$fz-text-m: 16px;
$lh-text-m: normal;

//============================================================//

/*BOXED LAYOUT*/
$container-max-width: 1920px;
$container-width: 1199px;

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop
