// CSS HOMEPAGE

main {
  .introduces {
    width: 100% !important;
    height: 0 !important;
    position: relative;
    overflow: hidden;
    padding-bottom: 49%;
    #myVideo {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /*cover video background */
      z-index: 3;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.438);
      z-index: 4;
    }
  }
  .quality {
    position: relative;
    .container {
      margin-top: 40px;
    }
    &__item {
      width: 100%;
      &-left {
        width: 100%;
        height: 0;
        padding-bottom: 73.5%;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include mid(false);
        }
      }
      &-right {
        .hard-item {
          margin-top: 15px;
          .icon {
            display: inline-table;
            width: 60px;
            height: 60px;
            img {
              width: 100%;
            }
          }
          .text {
            margin-left: 20px;
            h3 {
              @include text(18px, rb, normal, $text-black-cl, normal);
            }
            p {
              margin-top: 10px;
              @include text(16px, rr, normal, $text-des-cl, normal);
              @include xs {
                // width: 0px;
                display: inline;
                white-space: initial;
                margin-right: 20px;
              }
            }
          }
        }
      }
      @include sm {
        &-left {
        }
        .quality__item-right {
          margin-top: 30px;
          .hard-item .text {
            padding-left: 0px;
          }
          .hard-item .text p {
            display: inline-flex;
          }
          .hard-item .icon {
            width: 45px;
            height: 45px;
          }
        }
        &.--solutions {
          .quality__item-right {
            margin-top: 0px;
          }
          .quality__item-left {
            margin-top: 30px;
          }
        }
      }
      @include xs {
        &-left {
        }
        .quality__item-right {
          .hard-item {
            .text {
              h3 {
                @include text(16px, rb, normal, $text-black-cl, normal);
              }
              p {
                @include text(14px, rr, normal, $text-des-cl, normal);
              }
            }
          }
        }
      }
      &.--solutions {
        margin-top: 40px;
        height: 100%;
        & > .col-lg-6 {
          position: relative;
        }
        .quality__item-right {
          .icon {
            width: 15px;
            height: 20px;
          }
        }
        .quality__item-left {
          // padding: 15px;
          background-color: #eee;
          .video-item {
            height: 0;
            position: relative;
            overflow: hidden;
            padding-bottom: 66%;
            video {
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              z-index: 6;
            }
            @include xs {
              padding-bottom: 59%;
            }
          }
          .follow {
            padding: 10px;
            border-bottom: 1px solid rgb(212, 212, 212);
            .views {
              span {
                position: relative;
                @include text(16px, rr, normal, $text-des-cl, normal);
                &::before {
                  content: "";
                  display: inline-block;
                  width: 100%;
                  height: 2px;
                  position: absolute;
                  bottom: -12px;
                  z-index: 5;
                  background-color: $text-blue-cl;
                }
              }
            }
            .socials {
              a {
                text-decoration: none;
                @include transition($t);
                .icon {
                  position: relative;
                  margin-right: 15px;
                  i {
                    color: $text-des-cl;
                    font-size: 20px;
                    margin-right: 5px;
                  }
                  span {
                    @include text(16px, rr, normal, $text-des-cl, normal);
                  }
                  &::before {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    bottom: -11px;
                    z-index: 5;
                    background-color: $text-blue-cl;
                  }
                }
                &:hover {
                  .icon {
                    i {
                      @include transition($t);
                      color: $text-cl;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .bg-item {
      position: absolute;
      bottom: var(--pdSection);
      left: 0;
      img {
        width: 75%;
      }
      @include lg {
        img {
          width: 50%;
        }
      }
      @include sm {
        display: none;
      }
    }
  }
  .services {
    width: 100%;
    height: auto;
    background-image: url("../imgs/bg-service.jpg");
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
    // -webkit-background-size: cover !important;
    // -moz-background-size: cover !important;
    // -o-background-size: cover;
    // background-size: cover !important;
    // transform: translateZ(0);
    // will-change: transform;
    padding: 110px 0;
    color: $white-cl;
    .container {
      height: 100%;
      margin-top: 40px;
    }
    &__item {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 40px 15px 40px 15px;
      text-align: center;
      &-header {
        @include mid(true);
        flex-direction: column;
        .icon {
          width: 50px;
          height: 50px;
          img {
            width: 100%;
          }
        }
        .title {
          margin: 15px 0;
          @include text(18px, rb, normal, $white-cl, uppercase);
        }
      }
      &-body {
        .des {
          text-align: center;
          max-width: 400px;
          margin: 0 auto;
          @include text(16px, rr, normal, $white-cl, normal);
        }
      }
    }
    .col-lg-6 {
      max-height: 600px;
      &:not(:nth-child(1), :nth-child(2)) {
        margin-top: 30px;
      }
      @include xs {
        &:nth-child(2) {
          margin-top: 30px;
        }
      }
    }
    @include xs {
      padding: 80px 0;
    }
  }

  .section-testimonial {
    padding-bottom: 0 !important;
    --height_tes: 420px;
    --sizeCtr: 56px;
    --positionCtr: -105px;
    .textbox {
      margin-bottom: 60px;
    }
    .testimonial {
      max-width: 900px;
      margin: 0 auto;
      .testimonial-item {
        position: relative;
        .item {
          height: 100%;
          display: flex;
          align-items: center;
          .text {
            width: 570px;
            height: calc(var(--height_tes) - 100px);
            background: #f0f5fc;
            margin-right: -50px;
            position: relative;
            z-index: 10;
          }
          .ct,
          .ct_m {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 34px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // @include hidden;
            opacity: 0;
            visibility: hidden;
            @include transition($t);
            &.active {
              visibility: visible;
              @include visible(1);
              @include transition($t);
            }
            .info {
              display: flex;
              justify-content: space-between;
              h4 {
                font-family: ab;
                font-size: 22px;
                line-height: 32px;
                margin-bottom: 5px;
              }
              .quotes {
                width: 80px;
                height: 80px;
                background: #8a0a1f;
                border-radius: 50%;
                position: relative;
                top: 0px;
                img {
                  width: 40px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) !important;
                }
                &:first-child {
                  width: 20px;
                  height: 20px;
                  background-color: transparent;
                }
              }
            }
            .content {
              max-width: 370px;
              height: 170px;
              line-height: 28px;
              @include overtext(6);
              font-style: italic;
              color: $text-des-cl;
              @include sm {
              }
            }
            .name {
              font-size: 16px;
              color: $text-blue-cl;
              h4 {
                font-weight: bold;
              }
            }
            .bottom {
              display: flex;
              justify-content: space-between;
              a {
                img {
                  width: 18px;
                  position: relative;
                  left: -4px;
                  @include transition($t);
                }
                &:hover {
                  img {
                    opacity: 0.5;
                    @include transition($t);
                  }
                }
              }
              span {
                font-size: 14px;
              }
            }
          }
          .ct_m {
            display: none;
          }
          .images {
            width: 400px;
            height: var(--height_tes);
            overflow: hidden;
            position: relative;
            .carousel-cell {
              width: 100%;
              height: var(--height_tes);
              overflow: hidden;
              margin: 0;
              picture {
                img {
                  min-width: 100%;
                  min-height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
        .dots {
          margin-top: 40px;
          .flickity-page-dots {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
              width: 6px;
              height: 6px;
              display: inline-block;
              margin: 0 5px;
              @include br(50%);
              background: #505050;
              cursor: pointer;
              @include transition($t);
              &.is-selected {
                width: 20px;
                @include br(5px);
                background: $text-cl;
                @include transition($t);
              }
            }
          }
        }
        .btn_ctr {
          width: var(--sizeCtr);
          height: var(--sizeCtr);
          @include br(50%);
          border: 1px solid $text-blue-cl;
          @include mid(true);
          position: absolute;
          top: 50%;
          cursor: pointer;
          @include transform(translateY(-50%));
          @include transition($t);
          z-index: 10;
          &.prev {
            left: var(--positionCtr);
            background-image: url("../imgs/prev.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
          }
          &.next {
            right: var(--positionCtr);
            background-image: url("../imgs/next.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
          }
        }
      }
    }
    @include sm {
      .testimonial {
        .testimonial-item {
          .item {
            .ct,
            .ct_m {
              padding: 40px;
            }
          }
          .btn_ctr {
            &.prev {
              left: 0;
              top: initial;
              bottom: -50px;
            }
            &.next {
              left: 70px;
              right: initial;
              top: initial;
              bottom: -50px;
            }
          }
        }
      }
    }
    @include sm {
      .info {
        .quotes {
          right: -20px;
          &:first-child {
            display: none;
          }
        }
      }
      .content {
        width: 275px;
      }
    }
    @include xs {
      .testimonial {
        .testimonial-item {
          .item {
            margin-left: -15px;
            margin-right: -15px;
            flex-direction: column-reverse;
            .text {
              width: 100%;
              height: 420px;
              margin-right: 0;
              display: none;
            }
            .ct_m {
              width: 100%;
              height: 280px;
              background: #f0f5fc;
              position: relative;
              display: flex;
              padding: 25px;
              z-index: 10;
              @include visible;
              .info {
                h4 {
                  font-size: 18px;
                  line-height: 22px;
                }
                .quotes {
                  width: 50px;
                  height: 50px;
                  margin-top: 5px;
                  img {
                    width: 20px;
                    transform: translateY(-50%, -50%) !important;
                  }
                  &:last-child {
                    right: 0 !important;
                  }
                }
              }
              .content {
                width: 240px;
                font-size: 16px;
                line-height: 26px;
                height: 155px;
                @include overtext(6);
              }
              @include xs {
                @include visible(1);
                visibility: visible;
              }
            }
            .images {
              width: 100%;
              height: auto;
              .list {
                .carousel-cell {
                  width: 80%;
                  height: auto;
                  margin: 0 8px;
                }
              }
            }
          }
          .btn_ctr {
            display: none;
          }
        }
      }
    }
    .flickity-page-dots {
      display: none;
    }
  }

  .service-quotes {
    position: relative;
    .container {
    }
    .service-quotes__wrap {
      position: relative;
      padding-top: 90px;
      &.--bottom {
        margin: 30px 0;
      }
    }
    .title-service {
      @include mid(false);
      top: 68px;
      background-color: $hover-cl;
      padding: 14px 120px;
      border-radius: 8px;
      h3 {
        white-space: nowrap;
        @include text(20px, rb, normal, $text-blue-cl, normal);
      }
      @include xs {
        padding: 14px 42px;
        h3 {
          font-size: 18px;
        }
      }
    }
    .service-quotes__item {
      // height: -webkit-fill-available;
      background-color: $white-cl;
      padding: 50px 30px;
      border: 1px solid #eee;
      border-radius: 2px;
      @include mid(true);
      flex-direction: column;
      @include transition($t);
      .service-quotes__item-title {
        @include text(20px, rr, normal, $text-black-cl, normal);
        @include transition($t);
      }
      .service-quotes__item-price {
        margin: 15px 0;
        @include text(28px, rb, normal, $text-cl, uppercase);
      }
      .service-quotes__item-content {
        height: 100px;
        margin-bottom: 30px;
        .item {
          .check {
            width: 16px;
            height: 16px;
            background-color: #00bb34;
            border-radius: 50%;
            position: relative;
            @include transition($t);
            i {
              color: $white-cl;
              @include mid(false);
              font-size: 10px;
            }
          }
          span {
            margin-left: 8px;
            @include text(16px, rr, normal, $text-des-cl, normal);
          }
          &:not(:first-child) {
            margin-top: 10px;
          }
        }
      }
      &:hover {
        @include transition($t);
        background-color: $hover-cl;
        box-shadow: -1.55844px 0px 6.23377px rgba(0, 0, 0, 0.1),
          1.55844px 0px 6.23377px rgba(0, 0, 0, 0.15);
        h4 {
          font-weight: bold;
        }
        .service-quotes__item-content .check {
          background-color: $text-blue-cl;
          @include transition($t);
        }
        .btn-main {
          @include transition($t);
          background-color: $text-blue-cl;
          color: $white-cl;
        }
      }
      @include sm {
        width: fit-content;
        // height: -webkit-fill-available;
      }
      @include xs {
        width: 90%;
        height: -webkit-fill-available;
      }
    }
    .flickity-viewport {
      height: 363px;
    }
    @media screen and (min-width: 768px) {
      /* half-width cells for larger devices */
      .carousel-cell {
        height: 350px;
        width: 50%;
      }
    }
    .flickity-button {
      display: none;
    }
    .flickity-page-dots {
      display: none;
      @include sm {
        display: block;
      }
    }
  }

  .service-advisory {
    width: 100%;
    height: auto;
    background-image: url(../imgs/bg-advisory.jpg);
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
    // -webkit-background-size: cover !important;
    // -moz-background-size: cover !important;
    // -o-background-size: cover;
    // background-size: cover !important;
    // transform: translateZ(0);
    // will-change: transform;
    padding: 110px 0;
    color: $white-cl;
    position: relative;

    .container {
      width: 100%;
      .row {
        justify-content: space-evenly;
        .col-lg-5 {
          &:last-child {
            @include xs {
              margin-top: 30px;
            }
          }
        }
      }
    }
    &__item {
      background-color: rgba(0, 0, 0, 0.6);
      padding: 50px 30px;
      border-radius: 2px;
      @include mid(true);
      flex-direction: column;
      @include transition($t);
      &-title {
        @include text(19px, rr, normal, $white-cl, normal);
        @include transition($t);
      }
      &-content {
        margin: 25px 0;
        .item {
          .check {
            width: 16px;
            height: 16px;
            background-color: #00bb34;
            border-radius: 50%;
            position: relative;
            @include transition($t);
            i {
              color: $white-cl;
              @include mid(false);
              font-size: 10px;
            }
          }
          span {
            margin-left: 8px;
            @include text(16px, rr, normal, $white-cl, normal);
          }
          &:not(:first-child) {
            margin-top: 10px;
          }
        }
      }
      .btn-main {
        color: $white-cl;
        border-color: $white-cl;
      }
      &:hover {
        @include transition($t);
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: -1.55844px 0px 6.23377px rgba(0, 0, 0, 0.1),
          1.55844px 0px 6.23377px rgba(0, 0, 0, 0.15);
        .service-advisory__item-title {
          color: $text-black-cl;
        }
        h4 {
          font-weight: bold;
        }
        .service-advisory__item-content .check {
          background-color: $text-blue-cl;
          @include transition($t);
        }
        .service-advisory__item-content span {
          color: $text-des-cl;
          @include transition($t);
        }
        .btn-main {
          @include transition($t);
          background-color: $text-blue-cl;
          color: $white-cl;
          border-color: $text-blue-cl;
        }
      }
      @include xs {
        padding: 36px 14px;
        // &:last-child {
        //   margin-top: 30px;
        // }
      }
    }
    // .col-lg-6 {
    //   // max-height: 600px;
    //   &:not(:nth-child(1), :nth-child(2)) {
    //     margin-top: 30px;
    //   }
    //   @include xs {
    //     &:nth-child(2) {
    //       margin-top: 30px;
    //     }
    //   }
    // }
    @include xs {
      // height: 100vh;
      .container {
        margin-top: 0;
      }
    }
  }

  .section-contact {
    &__item {
      height: 0;
      padding-bottom: 68%;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include mid(false);
      }
      @include sm {
        margin-bottom: 20px;
      }
    }
    .textbox__title {
      text-align: left;
      margin-bottom: 30px;
      @include sm {
        margin-bottom: 10px;
      }
    }
    &__form {
      margin-bottom: 40px;
      .form-group {
        // .fullname,
        .number {
          margin-left: 15px;
          @include xs {
            margin-left: 0px;
            margin-top: 15px;
          }
        }
        input,
        textarea {
          font-size: 16px;
          color: $text-black-cl;
          width: 100%;
          background-color: $white-cl;
          padding: 10px 8px;
          border: none;
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          resize: none;

          &:focus {
            outline: none;
          }
          @include sm {
            font-size: 16px;
          }
        }
        &:nth-child(2) {
          margin: 20px 0;
        }
      }
      @include sm {
        margin-bottom: 25px;
      }
    }
    .btn-main {
      @include transition($t);
      i {
        font-size: 14px;
        margin-left: 6px;
      }
      &:hover {
        @include transition($t);
        background-color: $text-blue-cl;
        color: $white-cl;
        border-color: $text-blue-cl;
      }
    }
  }
}

.support-online {
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 0px;
  display: none;
  @include transition(display $t);
  &.active {
    display: block;
    @include transition(display $t);
  }
}

.support-online a {
  position: relative;
  margin: 20px 10px;
  text-align: left;
  width: 40px;
  height: 40px;
}

.support-online i {
  width: 40px;
  height: 40px;
  background: $text-cl;
  color: #fff;
  border-radius: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 1.9;
  position: relative;
  z-index: 999;
}
.btn-support {
  .img-svg {
    padding-bottom: 15px;
  }
}
.img-svg {
  width: 40px;
  height: 40px;
  background: $text-cl;
  color: #fff;
  border-radius: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 1.9;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 15px;
    height: 15px;
    path {
      fill: #fff;
    }
  }
}

.support-online a span {
  border-radius: 4px;
  text-align: center;
  background: $text-cl;
  padding: 9px;
  display: none;
  width: 180px;
  margin-right: 10px;
  position: absolute;
  color: #ffffff;
  z-index: 999;
  top: 0px;
  right: 40px;
  transition: all 0.2s ease-in-out 0s;
  -moz-animation: headerAnimation 0.7s 1;
  -webkit-animation: headerAnimation 0.7s 1;
  -o-animation: headerAnimation 0.7s 1;
  animation: headerAnimation 0.7s 1;
}

.support-online a:hover span {
  display: block;
}

.support-online a {
  display: block;
}

.support-online a span::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent $text-cl transparent $text-cl;
  position: absolute;
  right: -10px;
  top: 10px;
  transform: rotate(-180deg);
}

.icon-alo-circle-fill {
  width: 55px;
  height: 55px;
  top: -10px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: $text-cl;
  opacity: 1;
  right: -7px;
}

.icon-alo-circle {
  width: 45px;
  height: 45px;
  top: -5px;
  right: -2px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #fff;
  border-color: #fff;
  opacity: 0.1;
  z-index: 9;
}

.support-online .btn-support {
  cursor: pointer;
}
.btn-support {
  .d-flex {
    i {
      background: transparent;
      font-size: 14px;
      &:last-child {
        padding-top: 10px;
      }
    }
  }
  .span-sup {
    right: 50px;
  }
}
