.section-main {
  .container {
    margin-top: 90px;
  }
  .form-search {
    border-radius: 5px;
    border: 2px solid #cdcdcd;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    @include text(16px, rr, normal, $text-des-cl, normal);
    .row {
      background: #3b4346;
      margin-bottom: 10px;
      margin: 0;
      margin-bottom: 15px;
      border-radius: 5px 5px 0 0;
      .form-search__item {
        padding: 40px 20px;
        label {
          color: #fff;
        }
        input {
          padding: 12px 5px;
          width: 100%;
          border: none;
        }
        @include sm {
          padding: 20px 20px;
        }
      }
    }
    .list-check {
      background: #fff !important;
      display: flex;
      padding-bottom: 10px;
      .check-item {
        background: #c4c4c4;
        margin-left: 10px;
        .check-lable {
          @include text(16px, rr, normal, $text-des-cl, normal);
          color: #fff;
          padding: 3px 10px 3px 8px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .check-true {
            display: none;
          }
          .icon {
            color: #fff;
            font-size: 25px;
            padding-right: 10px;
            @include sm {
              font-size: 20px;
              padding-right: 5px;
            }
          }
          @include sm {
            @include text(12px, rr, normal, $text-des-cl, normal);
          }
        }
        &:hover {
          background: #ababab;
        }
        .check-input {
          display: none;
        }
        .check-input:checked ~ .check-lable {
          background-color: #3b4346;
          .check-true {
            display: flex;
          }
          .check-false {
            display: none;
          }
        }
      }
    }
  }
  .post {
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 17px;
    width: 100%;
    &__header {
      @include text(16px, rr, normal, $text-des-cl, normal);
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #f1f1f1;
      border-bottom: 1px solid #cdcdcd;
      position: relative;
      padding: 30px 20px;
      @include sm {
        @include text(14px, rr, normal, $text-des-cl, normal);
      }
      .select-header {
        @include text(16px, rr, normal, $text-des-cl, normal);
        background: #fff;
        border: 1px solid #cdcdcd;
        border-radius: 5px;
        padding: 7px 10px 9px;
        position: relative;
        width: 200px;
        z-index: 10;
        @include sm {
          @include text(14px, rr, normal, $text-des-cl, normal);
        }
        @include xs {
          width: 80px;
        }
      }
    }
    &__content {
      .table {
        width: 100%;
        display: table;
        .table-item {
          &__logo {
            // padding: 35px 0;
            text-align: center;
            img {
              width: 100px;
            }
          }
          &__meta {
            // padding: 35px 0;
            h2 a {
              color: #4d4d4d;
              @include text(18px, rr, normal, $text-des-cl, normal);
              @include sm {
                @include text(14px, rr, normal, $text-des-cl, normal);
              }
            }
            h3 a {
              color: #a8abb0;
              @include text(16px, rr, normal, $text-des-cl, normal);
              @include sm {
                @include text(12px, rr, normal, $text-des-cl, normal);
              }
            }
            a {
              text-decoration: none;
            }
          }
          &__type {
            // padding: 35px;
            border-radius: 3px !important;
            color: #fff;
            height: 20px;
            text-align: center;
            position: relative;
            @include text(16px, rr, normal, $text-des-cl, normal);
            .freelance {
              background: #5886ba;
            }
            .contract {
              background: #32c1b2;
            }
            .full-time {
              background: #d59842;
            }
            @include sm {
              @include text(14px, rr, normal, $text-des-cl, normal);
            }
          }
          &__location {
            // padding: 35px;
            a {
              color: #566266;
              text-decoration: none;
            }
            @include sm {
              @include text(14px, rr, normal, $text-des-cl, normal);
            }
          }
        }
        td {
          border-bottom: 1px dashed #cdcdcd;
          color: #566266;
          padding: 25px 33px 6px 20px;
          text-align: left;
          vertical-align: top;
          @include sm {
            padding: 15px 23px 5px 10px;
          }
          @include xs {
            padding: 5px;
          }
        }
      }
    }
  }
  .paging {
    margin: 30px 0;
    ul {
      display: flex;
      flex-direction: row;
      li {
        margin: 0 2px;
        a {
          @include text(16px, rr, normal, $text-des-cl, normal);
          background: #f9f9f9;
          border: 1px solid #cdcdcd;
          border-radius: 6px;
          cursor: pointer;
          color: #cdcdcd;
          padding: 15px;
          margin-right: 8px;
          text-align: center;
          position: relative;
          text-decoration: none;
          @include xs {
            padding: 5px;
            margin-right: 2px;
            @include text(12px, rr, normal, $text-des-cl, normal);
          }
        }
      }
    }
    @include xs {
      margin: 15px 0;
    }
  }
}
