main {
  .bg-top {
    width: 100%;
    background-image: url(../imgs/bg-service.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 250px 0;
    color: $white-cl;
    position: relative;
    .title-section {
      @include text(40px, rb, normal, $white-cl, uppercase);
      @include mid(false);
      z-index: 30;
    }
  }
  .section-video {
    .video-item {
      margin-bottom: 30px;
      &__img {
        height: 0;
        padding-bottom: 62%;
        overflow: hidden;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
          @include transform(translate(-50%, -50%) scale(1));
          @include transition($t);
        }
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba($color: #000000, $alpha: 0);
          z-index: 10;
          @include transition($t);
        }
        &:hover {
          img {
            @include transform(translate(-50%, -50%) scale(1.07));
            @include transition($t);
          }
          &::before {
            background: rgba($color: #000000, $alpha: 0.4);
            @include transition($t);
          }
        }
      }
      &__content {
        a {
          text-decoration: none;
          h3 {
            margin: 15px 0 5px 0;
            @include text(18px, rb, normal, $text-black-cl, normal);
            height: 45px;
            @include overtext(2);
            @include transition($t);
          }
          &:hover {
            h3 {
              @include transition($t);
              color: $text-cl;
            }
          }
        }
        .time {
          .circle {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $text-des-cl;
            margin: 0 6px;
          }
          span {
            @include text(14px, rr, normal, $text-des-cl, normal);
          }
        }
      }
    }
  }
  .nav-pagination {
    float: right;
    ul.pagination {
      .page-item {
        &:not(:first-child) {
          margin-left: 8px;
        }
        a {
          text-decoration: none;
          padding: 8px 12px;
          background: transparent;
          border: 1px solid $text-blue-cl;
          color: $text-blue-cl;
          border-radius: 4px;
          border: 1px solid $text-blue-cl;
          @include transition($t);
          span {
            color: $text-blue-cl;
            font-size: 18px;
          }
          &:hover {
            background: $text-blue-cl;
            color: $white-cl;
            @include transition($t);
            span {
              color: $white-cl;
            }
          }
          &.active {
            background: $text-blue-cl;
            color: $white-cl;
            border: 1px solid $text-blue-cl;
          }
        }
      }
    }
  }
}
